#container-counter {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-radius: 10px;
    background-color: #c3c3c3;
}

#container-todolist {
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-radius: 10px;
}

#init-number {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 220px;
    font-weight: bold;
    border: double;
    margin: auto;
    margin-bottom: 10px;
    background-color:white;
}

.counter-btns{
    display: flex;
    justify-content: center;
}
.counter-btns button{
    margin-left: 5px;
 }
 .btn-todo-remove{
     cursor: pointer;
 }

#btn-todo-add{
  margin-top: 25px;
  width: 16%;
}

.footer {
    background-color: #000;
    position:absolute;
    bottom:0;
    width:100%;
}

.footer-item {
    color:white;
    align-items: center center;
}
  